version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: padeledge_app
    ports:
      - "8501:8501"
    volumes:
      - ./models:/app/models
      - ./data:/app/data
    restart: always

  trainer:
    build:
      context: .
      dockerfile: Dockerfile.train
    container_name: padeledge_trainer
    volumes:
      - ./models:/app/models
      - ./data:/app/data
    restart: always
